<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width"/>
    <meta name="robots" content="all"/>
    <title>文章</title>
    <link id="beyond-link" href="assets/css/beyond.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="layui/css/layui.css"/>
    <link rel="stylesheet" href="css/master.css"/>
    <link rel="stylesheet" href="css/gloable.css"/>
    <link rel="stylesheet" href="css/nprogress.css"/>
    <link rel="stylesheet" href="css/blog.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="vue/dist/vue-select.css" rel="stylesheet"/>
</head>
<body>
<div class="header">
</div>
<header class="gird-header">
    <div class="header-fixed">
        <div class="header-inner">
            <a href="javascript:void(0)" class="header-logo" id="logo">Mr.Zcj</a>
            <nav class="nav" id="nav">
                <ul>
                    <li><a href="index.html">首页</a></li>
                    <li><a href="article.html">博客</a></li>
                    <li><a href="message.html">留言</a></li>
                    <li><a href="link.html">友链</a></li>
                    <li><a href="diary.html">日记</a></li>
                    <li><a href="my.html">关于</a></li>
                </ul>
            </nav>
            <a href="login.html" class="blog-user">
                <i class="fa fa-user-circle"></i>
            </a>
        </div>
    </div>
</header>
<div class="doc-container">
    <div class="container-fixed">
        <div class="content" id="questionsApp">
            <div class="inner">
                <article class="article-list bloglist">
                    <section class="article-item zoomIn article"  v-for="question in questions">
                        <!--<div class="fc-flag">置顶</div>   -->
                        <h5 class="title">
                            <!--<span class="fc-blue">【原创】</span>-->
                            <a v-bind:href="'read.html?'+question.id" v-text="question.title">.NET Spire.Doc组件</a>
                        </h5>
                        <div class="time">
                            <!--<span class="day" >2019</span>
                            <span class="month fs-18">1<span class="fs-14">月</span></span>-->
                            <span class="year fs-18 ml10" v-text="question.createdTimeText">2019-12-12</span>
                        </div>
                        <div class="content" style="height: 150px;">
                            <a v-bind:href="'read.html?'+question.id" class="cover img-light"><img v-bind:src="question.tagImage"></a>
                            <p v-html="question.content">
                                Spire.Doc for .NET是一款由E-iceblue公司开发的专业的Word
                                .NET类库，使用该工具开发人员可以在任意.NET平台（C#，VB.NET，ASP.NET）上快速创建，读取，写入，转换，打印Word文档。作为一个独立的Word
                                组件，Spire.Doc的运行无需安装Microsoft Word。而且，它可以将Microsoft Word文档创建功能集成到开发者的任何.NET应用程序。
                            </p>
                        </div>
                        <div class="read-more">
                            <a v-bind:href="'read.html?'+question.id" class="fc-black f-fwb">继续阅读</a>
                        </div>
                        <aside class="f-oh footer">
                            <div class="f-fl tags" v-for="tag in question.tags">
                                <span class="fa fa-tags fs-16"></span>
                                <a class="tag" v-text="tag.name">Java</a>
                            </div>
                            <div class="f-fr">
									<span class="read">               
										<i class="fa fa-eye fs-16"></i>               
										<i class="num" v-text="question.hits">57</i>
									</span>
                                <span class="ml20">
										<i class="fa fa-comments fs-16"></i>
										<a class="num fc-grey" v-text="question.commentCount">1</a>
									</span>
                            </div>
                        </aside>
                    </section>
                </article>
            </div>
            <div class="row DTTTFooter">
                <div style="text-align:center">
                    <div class="dataTables_paginate paging_bootstrap">
                        <ul class="pagination">
                            <li class="prev"><a href="#"
                               v-on:click.prevent="loadMyQuestions(pageInfo.prePage)">Prev</a>
                            </li>

                            <li><a href="#"
                                   v-for="i in pageInfo.navigatepageNums"
                                   v-on:click.prevent="loadMyQuestions(i)"
                                   v-bind:class="{'bg-primary text-light':i == pageInfo.pageNum}">
                                <span v-text="i">1</span></a>
                            </li>

                            <li class="next"><a href="#"
                                v-on:click.prevent="loadMyQuestions(pageInfo.nextPage)">Next</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<footer class="grid-footer">
    <div class="footer-fixed">
        <div class="copyright">
            <div class="info">
                <b class="mt05">
                    Copyright &copy; 2020 总要抱点妄想 All Rights Reserved<br>
                    <a target="_blank" style="color:white" href="http://www.beian.miit.gov.cn/">黔ICP备2020011449号</a>
                </b>
            </div>
        </div>
    </div>
</footer>
<script src="layui/layui.js"></script>
<script src="assets/js/jquery-2.0.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="vue/dist/vue-select.js"></script>
<script src="vue/dist/vue.js"></script>
<script src="js/yss/gloable.js"></script>
<script src="js/plugins/nprogress.js"></script>
<script src="js/project-js/my.js"></script>
</body>
</html>
