<!DOCTYPE html>
<html lang="zh-Hans-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width" />
    <title>首页</title>
    <link href="layui/css/layui.css" rel="stylesheet" type="text/css">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/index_style.css" rel="stylesheet" type="text/css">
    <link href="css/animate.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="section" id="section1">
        <div class="fp-tablecell">
            <div class="page1">
                <div class="nav wow zoomIn" data-wow-duration="2s">
                    <h1>阿杰</h1>
                    <p>总要抱点妄想啊</p>
                    <a class="layui-btn layui-btn-normal" style="margin-top: 20px" href="article.html">Welcome</a>
                </div>
                <a class="next wow fadeInUp" data-wow-duration="2s" id="next"></a>
            </div>
        </div>
    </div>
    <div class="section" id="section2">
        <div class="fp-tablecell">
            <div class="page2">
                <div class="warp-box">
                    <div class="new-article">
                        <div class="inner wow fadeInDown" data-wow-delay=".2s">
                            <p><i>保持理智 , 相信未来！</i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section3">
        <div class="fp-tablecell">
            <div class="page3">
                <div class="warp-box">
                    <div class="warp">
                        <div class="inner">
                            <div class="links">
                                <ul>
                                    <li class="wow fadeInLeft"><a href="my.html">关于</a></li>
                                    <li class="wow fadeInRight"><a href="link.html">+友情链接</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section" id="section4">
        <div class="fp-tablecell">
            <div class="page4">
                <div class="warp-box">
                    <div class="about">
                        <div class="inner">
                            <h1 class="wow fadeInLeft">社会主义接班人</h1>
                            <p class="wow fadeInRight">
                                爱好游戏，喜欢运动。阳光积极向上，社会主义三好青年。
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer wow fadeInUp" id="contact">
        <div class="footer-top">
            <div class="container">
                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                        <div class="single-widget about">
                            <div class="footer-logo">
                                <h2>阿杰</h2>
                            </div>
                            <p>想要的都会出现在梦里！</p>
                            <div class="button">
                                <a href="#" class="btn layui-btn layui-btn-normal">About Me</a>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md4">
                        <div class="single-widget">
                            <h2>相关链接</h2>
                            <ul class="social-icon">
                                <li class="active"><a href="article.html"><i class="fa fa-book"></i>博客</a></li>
                                <li class="active"><a href="message.html"><i class="fa fa-comments"></i>留言</a></li>
                                <li class="active"><a href="link.html"><i class="fa fa-share"></i>友链</a></li>
                                <li class="active"><a href="diary.html"><i class="fa fa-snowflake-o"></i>日记</a></li>
                                <li class="active"><a href="my.html"><i class="fa fa-files-o"></i>关于</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md4">
                        <div class="single-widget contact">
                            <h2>联系我</h2>
                            <ul class="list">
                                <li><i class="fa fa-map"></i>地址: 贵州遵义</li>
                                <li><i class="layui-icon layui-icon-login-qq"></i>QQ: 2022114936 </li>
                                <li><i class="fa fa-envelope"></i>邮箱: 2022114936@qq.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="layui-row">
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 text-center">
                        <b class="mt05">
                            Copyright &copy; 2020 总要抱点妄想 All Rights Reserved<br>
                            <a target="_blank" style="color:white" href="http://www.beian.miit.gov.cn/">黔ICP备2020011449号</a>
                        </b>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="layui/layui.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/index.js"></script>
</body>
</html>