<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xiaolimoon.blog.master.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.xiaolimoon.blog.master.model.Comment">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_nickname" property="userNickname" />
        <result column="article_id" property="articleId" />
        <result column="content" property="content" />
        <result column="parent_comment_id" property="parentCommentId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>


    <resultMap id="CommentVO_Map" type="cn.xiaolimoon.blog.master.vo.CommentVO">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="user_nickname" property="userNickname" />
        <result column="article_id" property="articleId" />
        <result column="content" property="content" />
        <result column="parent_comment_id" property="parentCommentId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <select id="findListByArticleId" resultMap="CommentVO_Map">
        SELECT
            *
        FROM
            comment
        WHERE
            article_id=#{articleId}
        ORDER BY
            create_time DESC
</select>

</mapper>
